<template name="companySubmit"> 
	<h3>Add Company</h3>
<form class="main">
<div class="control-group">
<label class="control-label" for="email">Email</label> 
<div class="controls">
<input name="email" type="text" value="" placeholder="Email"/> 
</div>

<label class="control-label" for="firstname">First Name</label> 
<div class="controls">
<input name="firstname" type="text" value="" placeholder="First Name"/> 
</div>

<label class="control-label" for="lastname">Last Name</label> 
<div class="controls">
<input name="lastname" type="text" value="" placeholder="lastname"/> 
</div>

<label class="control-label" for="title">Title</label> 
<div class="controls">
<input name="title" type="text" value="" placeholder="Title"/> 
</div>

<label class="control-label" for="companyname">Company Name</label> 
<div class="controls">
<input name="companyname" type="text" value="" placeholder="Company Name"/> 
</div>

<label class="control-label" for="telephone">Telephone</label> 
<div class="controls">
<input name="telephone" type="text" value="" placeholder="Telephone"/> 
</div>

<label class="control-label" for="password">Password</label> 
<div class="controls">
<input name="password" type="text" value="" placeholder="Password"/> 
</div>

<label class="control-label" for="confirmpassword">Confirm password</label> 
<div class="controls">
<input name="confirmpassword" type="text" value="" placeholder="Confirm Password"/> 
</div>

</div>

<div class="control-group"> <div class="controls">
<input type="submit" value="Submit" class="btn btn-primary"/> 
</div>
</div> 
</form>
</template>